/.ipynb_checkpoints/
/.ipynb_checkpoints/Model-fine-tuning-checkpoint.ipynb
/.ipynb_checkpoints/MultiCW-3.10-checkpoint.ipynb
/.ipynb_checkpoints/README-checkpoint.md
/.ipynb_checkpoints/requirements-finetune-checkpoint.txt
/.ipynb_checkpoints/requirements-lesa-checkpoint.txt
